
<style type="text/css">input.ng-invalid.ng-dirty{
        background: pink;
    }
</style>
<div style="padding: 0 20px;">
   <div class="container">
       <h1></h1>
       <hr>
       <form name="newEventForm">
            <fieldset>
               <label for="eventName">Event Name:</label>
               <input id="eventName" type="text" ng-model="event.name" required placeholder="Name of your event...">
               <label for="eventDate">Event Date:</label>
               <input id="eventDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (mm/dd/yyyy)...">
               <label for="eventTime">Event Time:</label>
               <input id="eventTime" type="text" ng-model="event.time" placeholder="star and end time">
               <label for="eventLocation">Event Location:</label>
               <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of your event...">
               <br>
               <input id="eventCity" type="text" class="input-small" ng-model="event.location.city" placeholder="City...">
               <input id="eventProvince" type="text" class="input-small" ng-model="event.location.province" placeholder="Province...">

               <label for="eventImageUrl">Image:</label>
               <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of image...">
            </fieldset>
            <img ng-src="{{event.imageUrl}}" alt="">
            <br>
            <br>
            <pre>{{event.name}}</pre>
            <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
            <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
       </form>
   </div>
</div>

